body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// @font-face {
//   font-family: "Laviossa";
//   src: url(./fonts/LaviossaMedium.ttf) format(ttf);
//   src: url(./fonts/jehoo-creative-laviossa-medium.otf) format(otf),
//     url(./fonts/LaviossaMedium.woff2) format(woff2),
//     url(./fonts/LaviossaMedium.woff) format(woff),
//     url(./fonts/LaviossaMedium.eot) format(eot);
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "Laviossa";
  src: url(./fonts/LaviossaMedium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.jc-s {
  justify-content: flex-start;
}

.jc-e {
  justify-content: flex-end;
}

.ai-c {
  align-items: center;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  li {
    padding: 0px;
    margin: 0px;
  }
}

a {
  text-decoration: none;
}
